.pd-reg{
    padding: 90px !important;
}


.mx-1 {
    margin: 0 1rem;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}


.mt-table{
    margin-top: 10.5rem;
  }
.mt-build{
    margin-top: 3rem;
}


.ml-3{
    margin-left: 3rem;
  }

.mt-2{
    margin-top: 2rem;
}

.padding-container{
    padding: 10rem;
}