.customFilters{
    border-radius: 1rem;
    padding: 2rem 1rem;
    background-color: $color-white;
}
.mat-dialog-container {
    padding: 0 !important;
    background-color: transparent !important;
 }
.dialogRow{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between
}
.customAdd{
    border-radius: 1rem;
    padding: 3rem 2rem;
    background-color: $color-white;
    overflow: hidden;
}
.deleteDialog{
    background-color: $color-white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 2rem;
    border-radius: .5rem;
}