.mytitle{
    color: $color-secondary;
    letter-spacing: 1px !important;
}
.dialogTitle{
    color: $color-secondary-dark;
    font-size: 20px !important;
    text-align: center;
  }
  
  .dialogText{
    color: $color-secondary;
    font-size: 16px;
    text-align: center;
  }
  
  .dialogColor{
    color: $color-secondary;
    font-size: 18px;
  }
  
  .dialogTextColor{
    color: $color-primary;
    font-size: 18px;
  }