<div class="login">
    <mat-card class="pd-reg">
        <div class="logo mb-50">
            <img src="../../../../../assets/Logo/imagotiposinfondo.png" alt="">
        </div>
        <form class="form">
            <mat-form-field class="login-form mb-10" appearance="fill">
              <mat-label>Correo Electronico</mat-label>
              <input matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field class="login-form mb-20" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" type="password">
              </mat-form-field>
              <!-- <button class="loginbutton" mat-raised-button (click)="loginProcess()">Ingresar</button> -->
          </form>
          <div class="centradomomentaneo">
            <button class="loginbutton" mat-raised-button (click)="loginProcess()">Ingresar</button>
          </div>
    </mat-card>
</div>
