<div class="padding-container">
    <h1 class="mytitle">Comando Básicos de Angular</h1>
    <mat-list role="list">
        <mat-list-item role="listitem"><strong>Instalar Angular CLI</strong>&nbsp; npm install -g @angular/cli</mat-list-item>
        <mat-list-item role="listitem"><strong>Instalar dependencias</strong>&nbsp; npm install</mat-list-item>
        <mat-list-item role="listitem"><strong>Crear nuevo componente</strong>&nbsp; ng g c path/nombreComponente</mat-list-item>
        <mat-list-item role="listitem"><strong>Crear nuevo modulo con modulo de rutas</strong>&nbsp; ng g m path/nombreModulo --routing</mat-list-item>
        <mat-list-item role="listitem"><strong>Compilar el programa</strong>&nbsp; ng serve</mat-list-item>
        <mat-list-item role="listitem"><strong>Crear nuevo servicio</strong>&nbsp; ng g s path/nombreServicio</mat-list-item>
        <mat-list-item role="listitem"><strong>Crear nuevo guard</strong>&nbsp; ng g guard path/nombreGuard</mat-list-item>
        <mat-list-item role="listitem">Para utilizar componentes con Angular Material Ingresar a la siguiente página: <a href="https://material.angular.io/components/categories" target="_blank">&nbsp; Angular Material</a></mat-list-item>
        <mat-list-item role="listitem">En el menu lateral se encontraran los componentes se debe seleccionar uno</mat-list-item>
        <mat-list-item role="listitem">Ir al apartado de <strong>&nbsp;API&nbsp;</strong> para obtener la importacion</mat-list-item>
        <mat-list-item role="listitem">Se debe copiar la importacion y añadirla al modulo respectivo donde se utilizara</mat-list-item>
        <mat-list-item role="listitem">Y en el aparatado de imports de ese modulo añadir el nombre del modulo importado</mat-list-item>
        <mat-list-item role="listitem">Para finalizar en el apartado de examples del componente en <strong>&nbsp;Angular Material&nbsp;</strong>se obtendra codigo de ejemplos de su uso</mat-list-item>
        <mat-list-item role="listitem">De igual forma esta un ejemplo practico de su uso en: <a href="https://github.com/laurencechavez/Nexo_Frontend" target="_blank">&nbsp; GitHub "NEXO"</a></mat-list-item>
      </mat-list>
</div>
