$color-primary: #F7F7F7;
$color-secondary: #3E5CA5;
$color-accent: #834391;

$color-white: #FFFFFF;
$color-dark: #111A2E;

$color-secondary-dark: #2E447A;

$color-background-white:#DADFEB;

$color-warning: #ff0000;
$color-warning-back: #ff000059;
$color-acept: #40a803;
$color-acept-back: #40a8034b;