<form [formGroup]="form" class="customAdd">
    <div class="controlers-container">
        <h3 class="dialogTitle">Editar Elemento</h3>
        <div class="dialogRow">
            <mat-form-field>
                <mat-label  class="labelEdit">Name</mat-label>
                <input formControlName="name" matInput >
            </mat-form-field>
        </div>
        <div class="dialogRow">
            <mat-form-field>
                <mat-label  class="labelEdit">Weight</mat-label>
                <input formControlName="weight" matInput >
            </mat-form-field>

            <mat-form-field>
                <mat-label  class="labelEdit">Symbol</mat-label>
                <input formControlName="symbol" matInput >
            </mat-form-field>

        </div>
        <div class="dialogRow mt-2">
            <button mat-stroked-button type="submit" class="acept-button" (click)="save()">Guardar</button>
            <button mat-stroked-button class="decline-button" (click)="cancel()">Cancelar</button>
        </div>
    </div>
</form>


